.mainSection{
    height: 100vh;
    background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/21/87/Ud2VAi.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.mylead {
    font-size: 30px;
    font-weight: 300;
}
a.nav-link:hover{
    text-decoration: underline;
}
a.nav-link.btn:hover{
    text-decoration: underline;
    box-shadow: 2px 2px 6px;
}