.mainSection{
    background-image: url("https://wallpaper.dog/large/20429583.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.mainMenuBackground{
    background-image: url("https://i.pinimg.com/originals/52/fe/b6/52feb6ce0f78701667f41120b3cca0ea.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}
.mylead {
    font-size: 30px;
    font-weight: 300;
    color: white;
}
a.nav-link:hover{
    text-decoration: underline;
}
a.nav-link.btn:hover{
    text-decoration: underline;
    box-shadow: 2px 2px 6px;
}

.rounded-left-5{
    border-top-left-radius: 0.7rem !important;
    border-bottom-left-radius: 0.7rem !important;  
}

.rounded-right-5{
border-top-right-radius: 0.7rem !important;
border-bottom-right-radius: 0.7rem !important;  
}

.rounded-10{
    border-radius: 1rem;
}

.carousel .carousel-inner img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    overflow: hidden;
}

a {
    color: rgb(38, 196, 91);
}

a:hover {
    color: rgb(6, 175, 6);
}


@media (min-width: 768px) {
    .rounded-md-5 {
        border-radius: 0.5rem !important;
    }

    .mr-md-5{
        margin-right: 3rem;
    }

    .mt-md-7{
        margin-top: 5rem;
    }

    .position-md-fixed{
        position: fixed;
    }
}
.photo{
    filter: brightness(0.5);
}
.photo:hover,
.photo.active{
    filter: brightness(1);
    box-shadow: 2px 2px 4px black;
}
.card:hover{
    box-shadow: 2px 2px 8px black;
}
.incentiviBackground{
    background-image: url("https://i.pinimg.com/originals/52/fe/b6/52feb6ce0f78701667f41120b3cca0ea.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

