.mainSection{
    background-image: url("https://wallpaper.dog/large/20429583.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.prevSection{
    background-image: url("https://img.freepik.com/free-vector/green-curve-frame-template-vector_53876-144370.jpg?w=2000");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.mainMenuBackground{
    background-image: url("https://i.pinimg.com/originals/52/fe/b6/52feb6ce0f78701667f41120b3cca0ea.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-width: 100vw;
}
.mylead {
    font-size: 30px;
    font-weight: 300;
    color: white;
}
a.nav-link:hover{
    text-decoration: underline;
}
a.nav-link.btn:hover{
    text-decoration: underline;
    box-shadow: 2px 2px 6px;
}

.rounded-left-5{
    border-top-left-radius: 0.7rem !important;
    border-bottom-left-radius: 0.7rem !important;  
}

.rounded-right-5{
border-top-right-radius: 0.7rem !important;
border-bottom-right-radius: 0.7rem !important;  
}

.rounded-10{
    border-radius: 1rem;
}

.carousel .carousel-inner img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    overflow: hidden;
}

a {
    color: rgb(38, 196, 91);
}

a:hover {
    color: rgb(6, 175, 6);
}


@media (min-width: 768px) {
    .rounded-md-5 {
        border-radius: 0.5rem !important;
    }

    .mr-md-5{
        margin-right: 3rem;
    }

    .mt-md-7{
        margin-top: 5rem;
    }

    .position-md-fixed{
        position: fixed;
    }
}

@media (min-width:992px){
    .carousel-control-prev::before{
        content: '';
        position:absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%,rgba(255, 255, 255, 0.473) 100%);
    }

    .carousel-control-next::before{
        content: '';
        position:absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(255, 255, 255, 0.473) 100%);
    }
}
.photo{
    filter: brightness(0.5);
}
.photo:hover,
.photo.active{
    filter: brightness(1);
    box-shadow: 2px 2px 4px black;
}
.card:hover{
    box-shadow: 2px 2px 8px black;
}

.card-img-top{
    height: 150px;
    object-fit: cover;
    overflow: hidden;
}

.card-text{
    height: 80px;
}

.incentiviBackground{
    background-image: url("https://i.pinimg.com/originals/52/fe/b6/52feb6ce0f78701667f41120b3cca0ea.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}
.mostra{
    min-height: 150px;
    min-width: 300px;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgb(28, 28, 28);
}

.carousel-item::before{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(14, 14, 14, 0.767) 100%);
}

.carousel-indicators > button {
    padding: 12px 0px;
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin:auto;
    padding: 10px;
    position: relative;
  }
  
  .screen {
    position: relative;
    background: #4d4d4f;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position:relative;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #20b871;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #20b871;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 10px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-text-color{
  color:#888;
  font-size: 10px;
  }
  
  
  .checkbox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #34495E;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #41B883;
    cursor: pointer;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #20b871;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #2e8b57;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  
#ric:hover{
    color: rgb(28, 28, 28);
    box-shadow: 2px 2px 4px rgb(28, 28, 28);
}

#cal{
    color: rgb(28, 28, 28);
    box-shadow: 2px 2px 4px rgb(28, 28, 28);
}
