.data-articolo{
    text-align: left;
    color:grey;
}

.testo-articolo{
    color:#393939;
}

.titolo-articolo-incentivi{
    color:black;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.immagini-articlo-incentivi{
    max-width: 100%;
    height: auto;
    max-width: 450px;

}

.titolo-articolo-incentivi-bottom-pic{
    color:black;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.testo-articolo-up-pic{
    color:#393939;
    margin-bottom: 3rem;
}


.contenitore .contenuto{
	max-width:1200px;
	margin:auto;
	padding: 70px 10px;
	padding-bottom: 70px;
}

	